body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: .8em;
}

h4 {
  font-weight: 400;
}

.no-border-bottom {
  border-bottom: none;
}

a.btn.btn-primary {
  color: white !important;
}

img.face {
  border-radius: 50px;
}

#header {
  background-color: white;
  color: black;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#header img {
  max-height: 500px;
}

#header .jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
}

#header ul.list-inline li {
  padding-bottom: 10px;
}

#header p {
  margin-bottom: 2em;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border-bottom: 1px dotted #ccc;
}

section:last-of-type {
  border-bottom: none;
}

section h2 {
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.subsection {
  margin-bottom: 30px;
}

section.customBg {
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  background-color: #333;
}

section .credits {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

section.education {
  background-image: url(../images/vtcampus.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #000;
  color: white;
  text-shadow: 0 0 5px black;
  padding-top: 80px;
}

section.education a {
  color: orange;
}

section.workExperience {
  background-color: #358753;
  color: white;
}

h2 small {
  color: #eee;
}

section.workExperience a {
  color: orange;
}

section.freelancingWork {
  background-color: #31b0d5;
}

section.opensource {
  background-image: url(../images/mountains.jpg);
}

section.opensource a {
  color: orange;
}

section.opensource a.btn {
  color: white;
}

section.security {
  background-color: #e99002;
}

section.security a {
  color: black;
}

.sectionIntro {
  font-size: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.slightlyTinted {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,.4);
}

blockquote {
  margin-left: 25px;
}

blockquote, blockquote footer {
  color: white;
}



/* New theme */

section#header + section {
  border-top: 2px dotted #ccc;
  margin-top: -25px;
  padding-top: 65px;
}

.grid-divider {
  overflow-x: hidden;
  position: relative;
}

.grid-divider > [class*="col-"]:nth-child(n + 2):after {
  content: "";
  background-color: #ccc;
  position: absolute;
  top: 20px;
  bottom: 0;
}

.grid-divider > [class*="col-"] {
  padding-bottom: 20px;
}

footer {
  margin-bottom: 30px;
  text-align: center;
  font-size: .6em;
}

footer .container {
  padding-top: 15px;  
  border-top: 1px solid #eee;
}

@media (max-width: 767px) {
  .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    width: 100%;
    height: 1px;
    left: 0;
    top: -4px;
  }

  #header {
    margin-top: 50px;
    text-align: center;
  }

  section { padding-top: 0 !important; }

  section#header + section {
    border-top: none;
  }

  h2, h3 {
    text-align: center;
    margin-top: 65px;
  }

}

@media (min-width: 768px) {
  .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    width: 1px;
    height: auto;
    left: -1px;
  }

  section#header + section {
    margin-top: -15px;
  }
}

@media (min-width: 992px) {
  section#header + section {
    margin-top: -20px;
  }
}

@media (min-width: 1200px) {
  section#header + section {
    margin-top: -25px;
  }
}

.post-listing {
  font-size: 16px;
}
.post-listing .metadata {
  font-size: .8em;
}

.img-shadow {
  box-shadow: 0px 0px 2em #ccc;
  border: 1px solid #ccc;
  transition: .2s ease-in;
}

.img-shadow:hover {
  box-shadow: 0px 0px 2em #aaa;
}

ul li {
  margin-bottom: 1em;
}